 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #268bc5;
            color: white;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #195fa0;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 15px;
            font-weight: bold;
        }

        main {
            padding: 20px;
        }

        section {
            max-width: 800px;
            margin: auto;
        }

        article {
            background-color: rgb(236, 229, 229);
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        h2 {
            color: #1776cf;
        }

        footer {
            background-color: #358bc4;
            color: white;
            text-align: center;
            padding: 10px;
        }